*{
    padding: 0;
    margin: 0;
  }
    /*___________header_______*/
.content{
    width: 100%;
    margin: auto;}
header{
    width: 100%;
    height: 36px;
    background-color: white;
    background-position: center;
    border: 1px solid ;
    padding: 10px;
    position: fixed;
    left: 0;
    top: 0;
    border: none;
    border-top: 0;
    z-index: 100;}
.menu{
        width: 85%;
        margin: auto;
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
.menu ul li{
    list-style: none;
    display: inline-block;
    margin: 0 5px;
    position: relative;}
.menu ul li a{
        text-decoration: none;
        color:black;
        text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;}
.menu ul li::after{
        content: '';
        height: 3px;
        width: 0;
        background:black;
        position: absolute;
        left: 0;
        bottom: -2px;
        transition: 0.7s ease-in-out;}
.menu ul li:hover::after{
        width: 100%;}



        img{
            width: 100%;
            height: 300px;
        }  
        h1{
            margin-top: -200px;
            margin-left: 400px;
            font-size: 70px;
          color:  #f8f2f2;
        }
        h2{
            margin-top: 120px;
            margin-left: 300px;
            font-size: 50px;
            margin-bottom: 20px;} 
        img.t{
            width: 100%;
            height: 100%;
            object-fit: cover;}   
       .t{
            width: 600px;
            height: 300px;
            border-radius: 50px;
            display: inline-block;
            margin-left: 70px;}
            .t img {
                -webkit-transition: scale(1);
                transition: .3s ease-in-out;
                transform: scale(1.10);
	-webkit-transition: .3s ease-in-out;
              }
               
              .t:hover img {
                -webkit-transform: scale(1);
                transform: scale(1);
              }
              
 /*____________________footer_________*/
 footer{
    background-color: rgb(68, 68, 55);
    line-height: 24px;
    color:white;
    margin-top: 50px};
    .social{
        width: 100%;
        display: flex;
         grid-template-columns: repeat(5,1fr);
        grid-gap: 16px;}
      

       
 footer .art{
    background-color: rgb(128, 128, 102);
    padding: 16px;
    padding-top: 48px;
    clip-path: polygon(0% 5%, 15% 0%,100% 10%,100% 100%,0% 100%);
}
.fot{
  max-width: 1080px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 16px;
} 
footer h3{
    font-size: 40px;
    padding-block: 16px;
} 
footer .fot a{
    display: block;
    padding-block: 12px;
    color: white;
    text-decoration: none;
    opacity: 0.65;
} 
footer .fot a:hover{
    opacity: 1;
    color: black;
    font-size: 25px;
}
footer input{
    border-style: solid;
    line-height: 12px;
    padding: 12px 20px;
    font-size: 15px;
    width: 100%;
    margin-block:8px ;
    border-radius: 8px;
    border-width: 2px;
}
footer input[type='email']{
    background-color: transparent;
    border-color: black;
    color: white;
    outline: 0;
}
footer input[type='email']:hover,
footer input[type='email']:focus{
    border-color:white;
    color: black;
    padding: 20px;
}
footer button[type='submit']{
    background-color: black;
    color: blanchedalmond;
    text-transform: uppercase;
    border: none;
}
footer button[type='submit']:hover{
    background-color: white;
    color: black;
   }
    footer button[type='submit'] a:hover{
        font-size: 20px;

    }

footer .notice{
    text-align: center;
    padding: 24px;
    
}
footer .notice strong{
    color: black;
    text-transform: uppercase;
} 







